{% extends "base.html" %}
{% load static %}
{%  block start %}

<style>
    a {
    color: #00cc99;
    
}

.btn.btn-primary {
    color: #ffffff;
    background-color: #00cc99;
    border-color: #00cc99;
}


</style>
			<!-- CONTENT WRAPPER -->
			<div class="ec-content-wrapper">
				<div class="content">
					<div class="breadcrumb-wrapper d-flex align-items-center justify-content-between">
						<div>
							<h1>User Deatils of {{data.username}}</h1>
							<p class="breadcrumbs"><span><a href="{% url 'dashboard_view' %}">Dashboard</a></span>
								<span><i class="mdi mdi-chevron-right"></i></span>User Details</p>
						</div>
						<!--<div>          -->
						<!--	<a href="#" class="btn btn-primary">Visa Inquiry List</a>-->
						<!--</div>-->
					</div>
					<div class="row">
						<div class="col-12">
							<div class="card card-default">
								<div class="card-body">
									<div class="table-responsive">
										<table id="responsive-data-table" class="table">
											<tbody>
												<tr style="color:black;"> 
													<th>Information</th>
													<th>Detail</th>
												</tr>
												<tr>
													<th>ID</th>
													<td>{{data.id}}</td>
												</tr>
												
												<tr>
													<th>Name</th>
													<td>{{data.username}}</td>
												</tr>
												
												<tr>
													<th>Mobile NO</th>
													<td>{{data.mobile}}</td>
												</tr>
												
												<tr>
													<th>Email</th>
													<td>{{data.email}}</td>
												</tr>
												<tr>
													<th>Role</th>
													<td>{{data.role}}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div> <!-- End Content -->
			</div> <!-- End Content Wrapper -->

{%  endblock %}		