{% extends "base.html" %}
{% load static %}
{%  block start %}

<style>
    a {
    color: #00cc99;
    
}

.btn.btn-primary {
    color: #ffffff;
    background-color: #00cc99;
    border-color: #00cc99;
}


</style>
			<!-- CONTENT WRAPPER -->
			<div class="ec-content-wrapper">
				<div class="content">
					<div class="breadcrumb-wrapper d-flex align-items-center justify-content-between">
						<div>
							<h1>About Us Deatils of {{data.heading}}</h1>
							<p class="breadcrumbs"><span><a href="{% url 'dashboard_view' %}">Dashboard</a></span>
								<span><i class="mdi mdi-chevron-right"></i></span>About Us Details</p>
						</div>
						<!--<div>          -->
						<!--	<a href="#" class="btn btn-primary">Visa Inquiry List</a>-->
						<!--</div>-->
					</div>
					<div class="row">
						<div class="col-12">
							<div class="card card-default">
								<div class="card-body">
									<div class="table-responsive">
										<table id="responsive-data-table" class="table">
											<tbody>
												<tr style="color:black;"> 
													<th>Information</th>
													<th>Detail</th>
												</tr>
												<tr>
													<th>ID</th>
													<td>{{data.id}}</td>
												</tr>
												
												<tr>
													<th>Video Name</th>
													<td>{{data.video_name}}</td>
												</tr>


												<tr>
                                                    <th>Video</th>
                                                    <td>
                                                        <iframe width="560" height="315" 
                                                        src="{{ data.video_embed_url }}" 
                                                        frameborder="0" allowfullscreen>
                                                    </iframe>
                                                </td>
                                            </tr>
                                            <!-- src="{{ data.video_drive_url }}"  -->
	
												<tr>
													<th>Embed Video URL</th>
													<td>{{data.row_video_url}}</td>
												</tr>
												<tr>
													<th>Row Video URL</th>
													<td>{{data.video_embed_url}}</td>
												</tr>
                                            </tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div> <!-- End Content -->
			</div> <!-- End Content Wrapper -->

{%  endblock %}		